%thead
  %tr
    %th Build
    %th.result-col.final-result Final result
    - @project.commands.each do |command|
      %th.result-col.non-responsive= command.name
    - if can? :destroy, Build.new(project: @project)
      %th.small-col
