%h2
  %span.title
    Admins
  %span.line
  .clear

= form_tag users_path, method: :put do
  .clearfix
    .input
      = select_tag :admins, options_from_collection_for_select(@users, :id, :email, lambda{|u| u.admin?}), :multiple => true, :class => 'admins-multiselect'
  .input= submit_tag 'Update', class: 'btn'
