#builds-list
  - if builds.any?
    %table.condensed-table.zebra-striped.bordered-table
      = render partial: 'builds/header'
      = render partial: builds
    = will_paginate builds, :renderer => PaginationListLinkRenderer, :params => { :format => :html }
  - else
    %p No builds yet... Click below to request one!

  = render 'build_button', project: project