%h2
  %span.title
    Editing project
  %span.line
  .btn-box
    = link_to 'Back to the project page', @project, :class => "btn pull-right"
  .clear

= render :partial => "form", :locals => { :project => @project }