<table>
  <tr>
    <th>Project</th>
    <th>Last status</th>
  </tr>
  <tbody id="projects-summary">
    <%= render partial: @projects %>
  </tbody>
</table>

<script type="text/javascript">
  reload_projects(<%= params.to_json.html_safe %>);
</script>