/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

h2.section {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #888;
}

td, th {
  padding-right: 20px;
}

#tabs {
  border: 1px solid #888;
  border-left: 0;
  border-right: 0;
  margin: 10px -8px;
  padding: 4px 0;
}

.tab {
  border-right: 1px solid #888;
  padding: 5px 15px;
  margin-left: -5px;
}

#tabs .active {
  background: #ccf;
}

#new-project-tab {
  border: 0;
  margin-left: 10px;
  font-style: italic;
  clear: right;
}