- if flash[:success]
  .alert.alert-success.fade.in
    %button.close{ :href => "#", "data-dismiss"=>"alert" } ×
    %p= flash[:success]

- if flash[:error]
  .alert.alert-error.fade.in
    %button.close{ :href => "#", "data-dismiss"=>"alert" } ×
    %p= flash[:error]

- if flash[:info]
  .alert.alert-info.fade.in
    %button.close{ :href => "#", "data-dismiss"=>"alert" } ×
    %p= flash[:info]