- if flash[:success]
  .alert.alert-success.fade.in
    %button.close{ :href => "#", "data-dismiss"=>"alert" } ×
    %p= flash[:success]

- if flash[:error] || flash[:alert]
  .alert.alert-error.fade.in
    %button.close{ :href => "#", "data-dismiss"=>"alert" } ×
    %p= flash[:error] || flash[:alert]

- if flash[:info] || flash[:notice]
  .alert.alert-info.fade.in
    %button.close{ :href => "#", "data-dismiss"=>"alert" } ×
    %p= flash[:info] || flash[:notice]
