<h1>BeCI</h1>

<div id="tabs">
  <%= content_tag :span, :class => "tab #{'active' if project.nil?}" do
    link_to "Summary", projects_path
  end %>
  <% projects.each do |project_for_tab| %>
    <%= content_tag :span, :class => "tab #{'active' if project.present? && project_for_tab==project}" do
      link_to project_for_tab.name, project_for_tab
    end %>
  <% end %>
  <span class="tab" id="new-project-tab"><%= link_to "Add project", new_project_path %></span>
  <span class="tab" id="admin-tab"><%= link_to "Admin", "/resque" %></span>
</div>